body{
    background-color: blueviolet;
    color: gold;
}
a{
    text-decoration:double;
    color:black;
}
.cisilka{
    font-size: 50px;
    text-align: center;
}
h1{
    font-size: 80px;
    text-align: center;
}
.basic_text{
    text-align: center;
    font-size:  30px; 
}